

.main-section-wrapper{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}
.residential-apartment-frame{
  max-width: 1440px;
  width: 100%;
  overflow: hidden;
}
.bg-image {
  background-image: url('../src/assets/Rectangle140.png'); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height:clamp(600px,100vh,750px); 
  
}
.search-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  height: 130px;
}
.text-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.title {
  margin: 0;
  color: #666666;
  font-family: Source Sans Pro;
font-size: 16px;  
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;


}
.location-info {
  display: flex;
  align-items: center;
  gap: 100px;
}
.container-with-line::after {
  content: '';
  display: block;
  width: 2px; /* Adjust the width of the vertical line */
  height: 100%; /* Make the line extend the full height of the container */
  background-color: #000; /* Adjust the color of the line */
  margin-left: 10px; /* Adjust the margin based on your preference */
}
